<div class="container">
  <h1> Title Coming Soon</h1>

<% if current_user %>
<a href="/posts/create">New Post</a>
<% end %>

<ul>
<% @posts.each do |post| %>
<li><a href= "/posts/<%= post.id %>"><%= post.title %></a><ul><li><%= post.user.name %>  <%= post.comments.count %> comments</li></ul></li>
<% end %>
</ul>



</div>
