<div class="container">
<li><a href='/'> Home</a></li>
<h1>New Post!</h1>
<form action="/posts/create" method="post">
          <input type="text" name="post[title]" placeholder="Title">
          <br><br>
          <input type="text" name="post[url]" placeholder="URL">
          <br><p>Or Text:</p>
          <textarea name="post[body]" cols="50" rows="10">Write your post...sometime</textarea>
          <br><br>
          <input type="submit" value="Create Post">
</form>
</div>
