<div class="container">
<form action="/user/signup" method="post">
              <input type="text" name="user[name]" placeholder="Enter your name"
          <li><input type="text" name="user[email]" placeholder="Enter your email"></li>
          <li><input type="password" name="user[password]" placeholder="Choose password"></li>
          <li><input type="submit" value="Sign Up">
</form>
</div>
